@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 50vw;
  height: 50vw;
  border-radius: 25vw;
  background: #f8f8f8f8;
}

section [class^="layer-"] {
  position: absolute;
  width: 100%;
  /* will-change: transform; */
}

section div :is(img, video) {
  width: 100%;
}
