@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  position: relative;
  width: 50vw;
}

section div :is(img, video) {
  position: absolute;
  width: 100%;
}
